[defaults]
inventory = inventories/dev.ini
roles_path = ./roles
host_key_checking = True
vault_password_file = ./get-vault-pass.sh

[privilege_escalation]
become = False
become_method = sudo
become_user = root
become_ask_pass = False
